html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 990px;
}
